In [97]:
import numpy as np
import pandas as pd

In [98]:
df = pd.read_csv('yelp.csv')
df.head()

,business_id,date,review_id,stars,text,type,user_id,cool,useful,funny
0,9yKzy9PApeiPPOUJEtnvkg,2011-01-26,fWKvX83p0-ka4JS3dc6E5A,5,My wife took me here on my birthday for breakf...,review,rLtl8ZkDX5vH5nAx9C3q5Q,2,5,0
1,ZRJwVLyzEJq1VAihDhYiow,2011-07-27,IjZ33sJrzXqU-0X6U8NwyA,5,I have no idea why some people give bad review...,review,0a2KyEL0d3Yb1V6aivbIuQ,0,0,0
2,6oRAC4uyJCsJl1X0WZpVSA,2012-06-14,IESLBzqUCLdSzSqm0eCSxQ,4,love the gyro plate. Rice is so good and I als...,review,0hT2KtfLiobPvh6cDC8JQg,0,1,0
3,_1QQZuf4zZOyFCvXc0o6Vg,2010-05-27,G-WvGaISbqqaMHlNnByodA,5,"Rosie, Dakota, and I LOVE Chaparral Dog Park!!...",review,uZetl9T0NcROGOyFfughhg,1,2,0
4,6ozycU1RpktNG2-1BroVtw,2012-01-05,1uJFq2r5QfJG_6ExMRCaGw,5,General Manager Scott Petello is a good egg!!!...,review,vYmM4KTsC8ZfQBg-j5MWkw,0,0,0

In [99]:
df.shape

(10000, 10)

In [100]:
df.drop(['business_id', 'date', 'review_id', 'user_id','type','stars'], axis=1, inplace=True)

In [101]:
df.head(2)

                                                text  cool  useful  funny
0  My wife took me here on my birthday for breakf...     2       5      0
1  I have no idea why some people give bad review...     0       0      0

In [102]:
#using regular expression
import re
clean = re.compile('<.*>')
re.sub(clean, '', df.iloc[2].text)

'love the gyro plate. Rice is so good and I also dig their candy selection :)'

In [103]:
def Clean(review):
    clean = re.compile('<.*\>')
    return re.sub(clean, '', review)

In [104]:
df['text'] = df['text'].apply(Clean)

In [105]:
df['text'][50]

'Cliff notes\n- Cheap: $1-2/plate\n- Fast: It\'s ready-to-go and on a conveyor\n- Acceptable quality: I\'m here weekly and haven\'t gotten sick lol\n\nThis place is definitely good for what it is, "it" being a budget-friendly sushi place that\'s great for a quick bite.  In a response to the lower-rating reviews stating how the food is just okay at best or authentic or blah blah blah, well think of it like wal-mart vs. *inserthighendretailerhere*.  This place has a business model based on selling in large volumes (hence the low prices like wal-mart) so they\'re gonna have to "reduce costs" somehow (so-so quality food, not-so-attentive staff, and slightly smaller than average portions), but it\'s still a solid bang-for-your-buck kinda place.\n\nOn top of this, I can be in and out quickly since everything is already prepared, perfect for those quick 30 min lunch breaks.  All that\'s required is for you to grab it off the conveyor (depending on whether or not all the items you want are on the conveyor at the time). \n\nI\'ve never had issues with seating, but do not make a point to go during peak hours and usually go with a small party (2-4 people).\n\nFor those claiming to be "left to fend for themselves" due to an inattentive staff, most of your sushi-related inquiries can be answered by this thing called "the menu" that sits on the counters.  See, this miraculous piece of technology contains things referred to as "descriptions" on them that help to inform you about the sushi going round-and-round before you.  Furthermore, there\'s even a pricing guide based on the color code of the plates to assist you further! WOW! Lol wtf do people expect for $1-2 plates of sushi?  Someone to hold your hand? LOLOLOLOLOLOLOL DIAF\n\nAnd the cherry on top? $4 large japanese beers and $5 sake bombs! HELL YEAH!'

In [106]:
def lower(text):
    return text.lower()

In [107]:
df['text']=df['text'].apply(lower)

In [108]:
df['text'][50]

'cliff notes\n- cheap: $1-2/plate\n- fast: it\'s ready-to-go and on a conveyor\n- acceptable quality: i\'m here weekly and haven\'t gotten sick lol\n\nthis place is definitely good for what it is, "it" being a budget-friendly sushi place that\'s great for a quick bite.  in a response to the lower-rating reviews stating how the food is just okay at best or authentic or blah blah blah, well think of it like wal-mart vs. *inserthighendretailerhere*.  this place has a business model based on selling in large volumes (hence the low prices like wal-mart) so they\'re gonna have to "reduce costs" somehow (so-so quality food, not-so-attentive staff, and slightly smaller than average portions), but it\'s still a solid bang-for-your-buck kinda place.\n\non top of this, i can be in and out quickly since everything is already prepared, perfect for those quick 30 min lunch breaks.  all that\'s required is for you to grab it off the conveyor (depending on whether or not all the items you want are on the conveyor at the time). \n\ni\'ve never had issues with seating, but do not make a point to go during peak hours and usually go with a small party (2-4 people).\n\nfor those claiming to be "left to fend for themselves" due to an inattentive staff, most of your sushi-related inquiries can be answered by this thing called "the menu" that sits on the counters.  see, this miraculous piece of technology contains things referred to as "descriptions" on them that help to inform you about the sushi going round-and-round before you.  furthermore, there\'s even a pricing guide based on the color code of the plates to assist you further! wow! lol wtf do people expect for $1-2 plates of sushi?  someone to hold your hand? lololololololol diaf\n\nand the cherry on top? $4 large japanese beers and $5 sake bombs! hell yeah!'

In [109]:
#removing special characters
def special(text):
    x=''
    
    for i in text:
        if i.isalnum():
            x = x + i
        else:
            x = x + ' '
    return x

In [110]:
df['text']= df['text'].apply(special)

In [111]:
df.head()

                                                text  cool  useful  funny
0  my wife took me here on my birthday for breakf...     2       5      0
1  i have no idea why some people give bad review...     0       0      0
2  love the gyro plate  rice is so good and i als...     0       1      0
3  rosie  dakota  and i love chaparral dog park  ...     1       2      0
4  general manager scott petello is a good egg   ...     0       0      0

In [112]:
df['text'][50]

'cliff notes   cheap   1 2 plate   fast  it s ready to go and on a conveyor   acceptable quality  i m here weekly and haven t gotten sick lol  this place is definitely good for what it is   it  being a budget friendly sushi place that s great for a quick bite   in a response to the lower rating reviews stating how the food is just okay at best or authentic or blah blah blah  well think of it like wal mart vs   inserthighendretailerhere    this place has a business model based on selling in large volumes  hence the low prices like wal mart  so they re gonna have to  reduce costs  somehow  so so quality food  not so attentive staff  and slightly smaller than average portions   but it s still a solid bang for your buck kinda place   on top of this  i can be in and out quickly since everything is already prepared  perfect for those quick 30 min lunch breaks   all that s required is for you to grab it off the conveyor  depending on whether or not all the items you want are on the conveyor at the time     i ve never had issues with seating  but do not make a point to go during peak hours and usually go with a small party  2 4 people    for those claiming to be  left to fend for themselves  due to an inattentive staff  most of your sushi related inquiries can be answered by this thing called  the menu  that sits on the counters   see  this miraculous piece of technology contains things referred to as  descriptions  on them that help to inform you about the sushi going round and round before you   furthermore  there s even a pricing guide based on the color code of the plates to assist you further  wow  lol wtf do people expect for  1 2 plates of sushi   someone to hold your hand  lololololololol diaf  and the cherry on top   4 large japanese beers and  5 sake bombs  hell yeah '

In [113]:
#importing stop words
import nltk
from nltk.corpus import stopwords

In [114]:
words = stopwords.words('english')
words

['i',
 'me',
 'my',
 'myself',
 'we',
 'our',
 'ours',
 'ourselves',
 'you',
 "you're",
 "you've",
 "you'll",
 "you'd",
 'your',
 'yours',
 'yourself',
 'yourselves',
 'he',
 'him',
 'his',
 'himself',
 'she',
 "she's",
 'her',
 'hers',
 'herself',
 'it',
 "it's",
 'its',
 'itself',
 'they',
 'them',
 'their',
 'theirs',
 'themselves',
 'what',
 'which',
 'who',
 'whom',
 'this',
 'that',
 "that'll",
 'these',
 'those',
 'am',
 'is',
 'are',
 'was',
 'were',
 'be',
 'been',
 'being',
 'have',
 'has',
 'had',
 'having',
 'do',
 'does',
 'did',
 'doing',
 'a',
 'an',
 'the',
 'and',
 'but',
 'if',
 'or',
 'because',
 'as',
 'until',
 'while',
 'of',
 'at',
 'by',
 'for',
 'with',
 'about',
 'against',
 'between',
 'into',
 'through',
 'during',
 'before',
 'after',
 'above',
 'below',
 'to',
 'from',
 'up',
 'down',
 'in',
 'out',
 'on',
 'off',
 'over',
 'under',
 'again',
 'further',
 'then',
 'once',
 'here',
 'there',
 'when',
 'where',
 'why',
 'how',
 'all',
 'any',
 'both',
 'each',
 'few',
 'more',
 'most',
 'other',
 'some',
 'such',
 'no',
 'nor',
 'not',
 'only',
 'own',
 'same',
 'so',
 'than',
 'too',
 'very',
 's',
 't',
 'can',
 'will',
 'just',
 'don',
 "don't",
 'should',
 "should've",
 'now',
 'd',
 'll',
 'm',
 'o',
 're',
 've',
 'y',
 'ain',
 'aren',
 "aren't",
 'couldn',
 "couldn't",
 'didn',
 "didn't",
 'doesn',
 "doesn't",
 'hadn',
 "hadn't",
 'hasn',
 "hasn't",
 'haven',
 "haven't",
 'isn',
 "isn't",
 'ma',
 'mightn',
 "mightn't",
 'mustn',
 "mustn't",
 'needn',
 "needn't",
 'shan',
 "shan't",
 'shouldn',
 "shouldn't",
 'wasn',
 "wasn't",
 'weren',
 "weren't",
 'won',
 "won't",
 'wouldn',
 "wouldn't"]

In [115]:
def stopwords(text):
    x = []
    for i in text.split():
        if i not in words:
            x.append(i)
    y=x[:]
    x.clear()
    return y

In [116]:
df['text']= df['text'].apply(stopwords)

In [117]:
df

                                                   text  cool  useful  funny
0     [wife, took, birthday, breakfast, excellent, w...     2       5      0
1     [idea, people, give, bad, reviews, place, goes...     0       0      0
2     [love, gyro, plate, rice, good, also, dig, can...     0       1      0
3     [rosie, dakota, love, chaparral, dog, park, co...     1       2      0
4     [general, manager, scott, petello, good, egg, ...     0       0      0
...                                                 ...   ...     ...    ...
9995  [first, visit, lunch, today, used, groupon, or...     1       2      0
9996  [called, house, deliciousness, could, go, item...     0       0      0
9997  [recently, visited, olive, ivy, business, last...     0       0      0
9998  [nephew, moved, scottsdale, recently, bunch, f...     0       0      0
9999  [4, 5, locations, 4, 5, star, average, think, ...     0       0      0

[10000 rows x 4 columns]

In [118]:
#stemming
from nltk.stem.porter import PorterStemmer
ps=PorterStemmer()

In [119]:
y=[]
def stem_words(text):
    for i in text:
        y.append(ps.stem(i))
    z=y[:]
    y.clear()
    return z

In [120]:

df['text']= df['text'].apply(stem_words)

In [121]:
df

                                                   text  cool  useful  funny
0     [wife, took, birthday, breakfast, excel, weath...     2       5      0
1     [idea, peopl, give, bad, review, place, goe, s...     0       0      0
2     [love, gyro, plate, rice, good, also, dig, can...     0       1      0
3     [rosi, dakota, love, chaparr, dog, park, conve...     1       2      0
4     [gener, manag, scott, petello, good, egg, go, ...     0       0      0
...                                                 ...   ...     ...    ...
9995  [first, visit, lunch, today, use, groupon, ord...     1       2      0
9996  [call, hous, delici, could, go, item, item, bl...     0       0      0
9997  [recent, visit, oliv, ivi, busi, last, week, 3...     0       0      0
9998  [nephew, move, scottsdal, recent, bunch, frien...     0       0      0
9999  [4, 5, locat, 4, 5, star, averag, think, arizo...     0       0      0

[10000 rows x 4 columns]

In [122]:
#joining back from list to string
def  join(list_input):
    return " ".join(list_input)

In [123]:
df['text']= df['text'].apply(join)

In [124]:
df.head(2)

                                                text  cool  useful  funny
0  wife took birthday breakfast excel weather per...     2       5      0
1  idea peopl give bad review place goe show plea...     0       0      0

In [125]:
df_cool = df[['text', 'cool']]
df_useful = df[['text', 'useful']]
df_funny = df[['text', 'funny']]

In [126]:
df_cool.info()
df_useful.info()
df_funny.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   text    10000 non-null  object
 1   cool    10000 non-null  int64
dtypes: int64(1), object(1)
memory usage: 156.4+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   text    10000 non-null  object
 1   useful  10000 non-null  int64
dtypes: int64(1), object(1)
memory usage: 156.4+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   text    10000 non-null  object
 1   funny   10000 non-null  int64
dtypes: int64(1), object(1)
memory usage: 156.4+ KB

In [127]:
X = df.iloc[:,0:1].values

In [128]:
X.shape

(10000, 1)

In [129]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=5000)

In [130]:
X=cv.fit_transform(df['text']).toarray()

In [131]:
X.shape

(10000, 5000)

In [132]:
y_cool = df_cool.iloc[:,1].values
y_useful = df_useful.iloc[:,1].values
y_funny = df_funny.iloc[:,1].values

In [133]:
y_cool.shape

(10000,)

In [134]:
from sklearn.model_selection import train_test_split
X_cool_train, X_cool_test, y_cool_train, y_cool_test = train_test_split(X,y_cool, test_size=0.2)
X_useful_train, X_useful_test, y_useful_train, y_useful_test = train_test_split(X,y_useful, test_size=0.2)
X_funny_train, X_funny_test, y_funny_train, y_funny_test = train_test_split(X,y_funny, test_size=0.2)

In [135]:
print(X_cool_train.shape)
print(y_cool_train.shape, y_cool_test.shape)
print(y_useful_train.shape, y_useful_test.shape)
print(y_funny_train.shape, y_funny_test.shape)

(8000, 5000)
(8000,) (2000,)
(8000,) (2000,)
(8000,) (2000,)

In [136]:
from sklearn.naive_bayes import GaussianNB, MultinomialNB, BernoulliNB

In [137]:
nb_cool = BernoulliNB()
nb_useful = BernoulliNB()
nb1_funny = BernoulliNB()

In [139]:
nb_cool.fit(X_cool_train,y_cool_train)
nb_useful.fit(X_useful_train,y_useful_train)
nb1_funny.fit(X_funny_train,y_funny_train)

BernoulliNB()

In [142]:
y_cool_pred = nb_cool.predict(X_cool_test)
y_useful_pred = nb_useful.predict(X_useful_test)
y_funny_pred = nb1_funny.predict(X_funny_test)

In [141]:
from sklearn.metrics import accuracy_score

In [143]:
print("cool",accuracy_score(y_cool_test,y_cool_pred))
print("useful",accuracy_score(y_useful_test,y_useful_pred))
print("funny",accuracy_score(y_funny_test,y_funny_pred))

cool 0.5285
useful 0.3725
funny 0.578

In [144]:
nb_useful_gauss = GaussianNB()
nb_useful_multi = MultinomialNB()

In [145]:
nb_useful_gauss.fit(X_useful_train, y_useful_train)
nb_useful_multi.fit(X_useful_train, y_useful_train)

MultinomialNB()

In [147]:
y_useful_gauss_pred = nb_useful_gauss.predict(X_useful_test)
y_useful_multi_pred = nb_useful_multi.predict(X_useful_test)

In [148]:
print("useful",accuracy_score(y_useful_test,y_useful_gauss_pred))
print("useful",accuracy_score(y_useful_test,y_useful_multi_pred))

useful 0.1495
useful 0.3675